MyTravelConsumer/Connected Services/TravelServiceReferences/TravelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://mytravelbigboss.azurewebsites.net/TravelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyTravelServices" />
  <xs:element name="GetPlaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="GetPlacesResult" nillable="true" type="q1:ArrayOfPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="newPlace" nillable="true" type="q2:Place" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="newPlace" nillable="true" type="q3:Place" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="GetImagesResult" nillable="true" type="q4:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="newImage" nillable="true" type="q5:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="newImage" nillable="true" type="q6:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="GetCommentsResult" nillable="true" type="q7:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="newComment" nillable="true" type="q8:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyTravelServices" minOccurs="0" name="newComment" nillable="true" type="q9:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>