MyTravelConsumer/Connected Services/TravelServiceReferences/TravelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyTravelServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyTravelServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Place" nillable="true" type="tns:Place" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlace" nillable="true" type="tns:ArrayOfPlace" />
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImage" />
      <xs:element minOccurs="0" name="PlaceAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
  <xs:complexType name="AspNetUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFailedCount" type="xs:int" />
      <xs:element minOccurs="0" name="AspNetUserClaims" nillable="true" type="tns:ArrayOfAspNetUserClaim" />
      <xs:element minOccurs="0" name="AspNetUserLogins" nillable="true" type="tns:ArrayOfAspNetUserLogin" />
      <xs:element minOccurs="0" name="AspNetUserRoles" nillable="true" type="tns:ArrayOfAspNetUserRole" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImage" />
      <xs:element minOccurs="0" name="LockoutEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockoutEndDateUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Places" nillable="true" type="tns:ArrayOfPlace" />
      <xs:element minOccurs="0" name="SecurityStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoFactorEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUser" nillable="true" type="tns:AspNetUser" />
  <xs:complexType name="ArrayOfAspNetUserClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserClaim" nillable="true" type="tns:AspNetUserClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserClaim" nillable="true" type="tns:ArrayOfAspNetUserClaim" />
  <xs:complexType name="AspNetUserClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserClaim" nillable="true" type="tns:AspNetUserClaim" />
  <xs:complexType name="ArrayOfAspNetUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserLogin" nillable="true" type="tns:AspNetUserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserLogin" nillable="true" type="tns:ArrayOfAspNetUserLogin" />
  <xs:complexType name="AspNetUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="LoginProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserLogin" nillable="true" type="tns:AspNetUserLogin" />
  <xs:complexType name="ArrayOfAspNetUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserRole" nillable="true" type="tns:AspNetUserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserRole" nillable="true" type="tns:ArrayOfAspNetUserRole" />
  <xs:complexType name="AspNetUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetRole" nillable="true" type="tns:AspNetRole" />
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserRole" nillable="true" type="tns:AspNetUserRole" />
  <xs:complexType name="AspNetRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUserRoles" nillable="true" type="tns:ArrayOfAspNetUserRole" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetRole" nillable="true" type="tns:AspNetRole" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="CommentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="tns:Place" />
      <xs:element minOccurs="0" name="PlaceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUser" nillable="true" type="tns:AspNetUser" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="tns:Place" />
      <xs:element minOccurs="0" name="PlaceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
</xs:schema>