TravelProject1/Connected Services/TravelServiceReferences/TravelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50063/TravelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50063/TravelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50063/TravelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TravelServiceApplication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITravelService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosts" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPost" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditPost_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPost" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPostResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeletePost_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePost" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeletePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePostResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComments" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditComment_InputMessage">
    <wsdl:part name="parameters" element="tns:EditComment" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditImage_InputMessage">
    <wsdl:part name="parameters" element="tns:EditImage" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditImageResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ITravelService">
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetLocation" message="tns:ITravelService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetLocationResponse" message="tns:ITravelService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/AddLocation" message="tns:ITravelService_AddLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/AddLocationResponse" message="tns:ITravelService_AddLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/EditLocation" message="tns:ITravelService_EditLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/EditLocationResponse" message="tns:ITravelService_EditLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/DeleteLocation" message="tns:ITravelService_DeleteLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/DeleteLocationResponse" message="tns:ITravelService_DeleteLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetPosts" message="tns:ITravelService_GetPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetPostsResponse" message="tns:ITravelService_GetPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/AddPost" message="tns:ITravelService_AddPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/AddPostResponse" message="tns:ITravelService_AddPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/EditPost" message="tns:ITravelService_EditPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/EditPostResponse" message="tns:ITravelService_EditPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/DeletePost" message="tns:ITravelService_DeletePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/DeletePostResponse" message="tns:ITravelService_DeletePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetComments" message="tns:ITravelService_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetCommentsResponse" message="tns:ITravelService_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/AddComment" message="tns:ITravelService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/AddCommentResponse" message="tns:ITravelService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/EditComment" message="tns:ITravelService_EditComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/EditCommentResponse" message="tns:ITravelService_EditComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/DeleteComment" message="tns:ITravelService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/DeleteCommentResponse" message="tns:ITravelService_DeleteComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetImages" message="tns:ITravelService_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetImagesResponse" message="tns:ITravelService_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/AddImage" message="tns:ITravelService_AddImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/AddImageResponse" message="tns:ITravelService_AddImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/EditImage" message="tns:ITravelService_EditImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/EditImageResponse" message="tns:ITravelService_EditImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/DeleteImage" message="tns:ITravelService_DeleteImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/DeleteImageResponse" message="tns:ITravelService_DeleteImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITravelService" type="tns:ITravelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/AddLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/EditLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/DeleteLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <soap:operation soapAction="http://tempuri.org/ITravelService/AddPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPost">
      <soap:operation soapAction="http://tempuri.org/ITravelService/EditPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap:operation soapAction="http://tempuri.org/ITravelService/DeletePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/ITravelService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditComment">
      <soap:operation soapAction="http://tempuri.org/ITravelService/EditComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://tempuri.org/ITravelService/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://tempuri.org/ITravelService/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditImage">
      <soap:operation soapAction="http://tempuri.org/ITravelService/EditImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://tempuri.org/ITravelService/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelService">
    <wsdl:port name="BasicHttpBinding_ITravelService" binding="tns:BasicHttpBinding_ITravelService">
      <soap:address location="http://localhost:50063/TravelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>